[2015-07-22 08:17] domsj opened #5 "truncate tlog prints no message even when it fails"
Got this bug report from Jeroen.
I wanted to know the exit code (`echo $?`) but he could no longer reproduce due to already having fixed the disk full condition.

[2015-07-27 07:03] toolslive commented on #5
#6

[2015-07-27 07:03] #5 closed, assigned to nobody

[2016-04-25 11:55] despiegk opened #66 "docker build for arch & ubuntu 16.04"
- docker build for arch & ubuntu 16.04
- explain how to build by means of docker (documentation)

[2016-04-29 06:50] toolslive opened #67 "arakoon 1.9.3 node refuses to start"
The node had a tlog file (`x.tlx`) that was filled with just 1 entry, repeated thousands of times.
The next startup of that node failed as the tlog_map refuses the next tlog (`x+1.tlx`)
as that one has a starting **i** that is not higher than the starting **i** from `x.tlx`.
The environment had networking issues and the node was left isolated for days.

The workaround was simple in this specific c

[2016-04-29 07:01] toolslive opened #68 "arakoon 1.9.3 range issue"
[code]

probably impacts older versions too.

[2016-05-03 08:39] toolslive commented on #68
This impacts all arakoon releases (it's a bug in tokyo cabinet's tcdbrange)

[2016-05-12 07:13] domsj commented on #68
fixed by https://github.com/openvstorage/arakoon/pull/70

[2016-05-12 07:13] #68 closed, assigned to nobody

[2016-05-19 11:05] maxux opened #71 "Compile Arakoon 1.9.3 on Ubuntu 16.04"
Hi,

Here you can find a script which makes Arakoon 1.9.3 compiles on a fresh (at least OpenvCloud) Ubuntu 16.04:
https://gist.github.com/maxux/5d8cd7c6ce819ae8aa03d4457a7088cb

Note: this gist contains a patch needed to compiles on "Core 113.33".
After that, Arakoon compiles fine on all last version of libs used.

All test runs (except etcd which was not installed).

Version installed:

[code]

[2016-05-19 12:08] domsj commented on #71
Hi Maxim, we build arakoon using another version of core, see our docker file: https://github.com/openvstorage/arakoon/blob/1.9/docker/arakoon_debian/Dockerfile#L71 .
We'll move to ubuntu 16.04 sometime in the near future, at which time we may also bump the versions of our dependencies.
Btw which version of the ocaml compiler are you using? We currently use 4.02.3.

[2016-05-19 12:27] maxux commented on #71
Looks like the same version for ocaml compiler: `ocamlbuild 4.02.3`
After some more deeper test, all tests seems not okay. I check some stuff.

[2016-05-20 08:37] kinvaris opened #72 "Exception during collapse: "Head db has invalid counter: 105838""
During an active arakoon collapse we experienced this on our 10ms latency multidatacenter environment:

[code]

Also seen this on the first controller node:

[code]

But not on controller 2!

Although it succeeded the day before.

Arakoon version:

[code]

Open vStorage version:

[code]

[2016-05-20 11:52] kinvaris commented on #72
Found this during collapse on CTL01: http://pastebin.com/0JY2Pm8V

[code]

[2016-05-20 12:49] domsj commented on #72
Some findings after looking into this issue together with @kinvaris

When the node starts collapsing it prints the tlog_map, in the cases where the collapse failed an entry was missing:
`{ i:657502; n:908; is_archive: false}; { i:656670; n:906; is_archive: false};`
This caused tlog iterate (which is called during the collapse) to stop after processing 906.tlx.

After a restart the tlog_map is buil

[2016-05-20 13:43] maxux commented on #71
Gist updated with a script used to build a `arakoon_1.9.3_amd64.deb` working on 16.04
Note that one test seems to fail, but I don't have more information about that.

[2016-05-20 15:05] kinvaris commented on #72
On CTL03 we had a problem with 140.tlx.

We see a jump from tlog 137 to 138, and a close of 138. But we see no jump from 138 to 139 and from 139 to 140.

[code]

Suddenly we see a jump from 144 - 145 after a CATCHUP and COLLAPSE:

[code]

Collapse:

[code]

Catchup:

[code]

[2016-05-20 16:02] domsj commented on #72
So it looks like the tlog map may have been 'corrupted' by catchup and/or collapsing that was going on at the time.
I spent some time looking for the bug and found a race condition: https://github.com/openvstorage/arakoon/blob/1.9/src/tlog/tlog_map.ml#L522-L534 .
There's an lwt bind between calculating the new value of t.i_to_tlog_number and actually applying it. If during this bind a new tlog fil

[2016-05-23 05:41] toolslive commented on #72
Indeed. moving that line should do the trick.

[2016-05-23 06:39] toolslive commented on #72
https://github.com/openvstorage/arakoon/commit/65092983c464d9752a4e8690205db16fba74d635

[2016-05-23 07:47] #72 closed, assigned to nobody

[2016-05-25 12:59] khenderick opened #75 "Make sure that the quorum flag is passed using etcdctl"
Make sure that the quorum flag is passed using etcdctl

[2016-06-02 09:07] domsj commented on #75
closed by #76

[2016-06-02 09:08] #75 closed, assigned to nobody

[2016-06-06 07:53] jeroenmaelbrancke opened #80 "Use the standard ovs log format (timestamp)"
Can you please use the standard ovs log format described on the [gitbook](https://openvstorage.gitbooks.io/framework/content/docs/log.html).

Only the timestamp isn't correct.

[code]

should be

[code]

Also Alba needs this modification.

[2016-06-06 09:13] toolslive commented on #80
#81

[2016-06-06 09:13] #80 closed, assigned to nobody

[2016-06-20 08:58] pploegaert opened #84 "Arakoon fails to start due to new tlog entry being lower in sequence 1405207 < 1408230"
Input from Jan D.:
Some findings:

[code]

Start i of .tlx files:

[code]

disk was full, probably because collapsing failed due to the fuck up in the tlogs (6020.tlx has lower start i)

[code]

So 6020.tlx was the result of a catchup and something must've gone wrong there.

[2016-06-20 09:12] domsj commented on #84
Extracted the relevant part of the log file (where shit hits the fan)

[extract.txt](https://github.com/openvstorage/arakoon/files/323044/extract.txt)

[2016-06-20 09:34] domsj commented on #84
This part looks a bit strange:

[code]

So the node curiously stops replaying tlogs during catchup at `15 to go`. Next it starts another catchup, and due to the not replayed tlogs it starts from another i than the one available in the last tlog, resulting in tlog 6021 duplicating the contents of 6005.tlx.
So the question is: why does tlog replay during catchup stop too soon?

[2016-06-20 15:42] domsj commented on #84
entries of .tlx

[code]

A potential fix is #85 . The problem is that a tlog is skipped while it shouldn't be.
To have confidence in the fix probably an extra test should be added.

[2016-06-21 15:01] domsj commented on #84
Hmm, tried to write a test to reproduce my claims above, but failed.
Seems like the problem is located elsewhere...

[code]

In the last part of a catchup this node recieves a 6019.tlx file which starts at i = 1408230.
Then it says it should replay tlog entries until i = 1405206, which is not the last entry available.
(Remote nodestream also mentions this entry as the last one seen)
The problem se

[2016-06-22 12:00] domsj commented on #84
Saw the issue on another env too:

[code]

[2016-06-23 09:08] domsj commented on #84
#88 should (probably) fix the issue

[2016-06-30 13:32] kinvaris opened #91 "Arakoon restarted without reason"
Looking at the log file:

[code]

Looking at `syslog`:

[code]

When looking at `/var/crash` we see that an older logfile is kept then the given timestamp:

[code]

[2016-06-30 13:36] kinvaris opened #92 "Arakoon fails to start with error: starts with 17571602, which ain't higher than 19229207"
A arakoon on our multiDC setup will not start anymore because of:

[code]

[2016-06-30 13:39] pploegaert commented on #92
Probably related to #84 - and not fixed in #88

[2016-06-30 13:39] kinvaris commented on #92
It began here:

[code]

[2016-06-30 14:02] kinvaris commented on #91
Seeing this on the same node on another arakoon:

[code]

As seen in `syslog`:

[code]

[2016-07-01 07:31] domsj commented on #92
Can we get all the logs for all nodes in this cluster?
This was done with arakoon 1.9.7?

[2016-07-01 08:21] domsj commented on #92
@kinvaris told me this was encountered with arakoon 1.9.6, which does not yet contain the fix from #88, so closing this issue.
Please update arakoon, fix/verify no arakoon nodes are still affected. (Will require manual intervention for the affected nodes.)
Create a new issue (or reopen an existing one) if you see this issue again afterwards.

[2016-07-01 08:21] #92 closed, assigned to nobody

[2016-07-01 09:30] kinvaris opened #93 "Arakoon cluster has no master when rebuilding a arakoon."
We had a broken arakoon on node A. But B & C were still active and had an active master.
When rebuilding node A, we saw that the cluster suddenly had no master.

[2016-07-04 10:44] pploegaert opened #94 "Observed a potentially corrupt tlx file causing restart loop of arakoon process"
Tlx file appears to be at least one week old, indicating arakoon collapse probably not running (failing)

@domsj: pls complete with relevant details to further investigate this issue.

Also document workaround applied

[2016-07-04 12:31] kinvaris opened #95 "Arakoon cluster repeatedly loses master with preferred master."
We have a global nsm cluster over 3 datacenters. We've added a preferred master in datacenter 1. But it seems like it is constantly losing its master and another server is elected as master.

[code]

While it should be `09FydVMSuGL4Fp3k`

[2016-07-04 12:57] domsj commented on #94
[code]

The above shows there might be a problem in 62012.tlx.
Dumping the tlogs shows:

[code]

So for some reason the 'i' of one entry got corrupted.
While hex editing the (uncompressed) tlog (to manually work around the problem) I noticed that the wrong value matches the ascii text `osds/del` which happens to be a string that is present many times in the tlog (which made it a bit harder to find

[2016-07-04 13:40] toolslive commented on #95
was node `09Fyd...` alive and participating in the cluster at that time ?

[2016-07-04 14:34] kinvaris commented on #95
It was up and running at the moment and running OK. After arakoon 3 was done rebuilding itself in datacenter 3 from the tlogs and catching up with the other nodes the master switched immediately to the preferred master.

Seen in log of arakoon 3:

[code]

Seen in arakoon 2:

[code]

Seen in arakoon 1:

[code]

[2016-07-05 08:08] kinvaris opened #96 "Arakoon cluster is losing its master in local datacenter"
We have a cluster of arakoons in datacenter A.

We've checked the arakoons, and they are running normally.

But it seems like the cluster is losing its master over and over again:

[code]

[2016-07-05 09:34] domsj commented on #96
I had a look on the env.
The nodes all had many (200k) tlogs, because no collapsing was done.
After a manual collapse the cluster has a stable master for the last half hour.

[2016-07-05 09:48] wimpers commented on #96
@domsj , @kinvaris  any idea why there was no collapsing?

[2016-07-05 09:55] domsj commented on #96
Yes, the arakoon clusters on that env are externally managed (that is: not managed by the framework).
So the external party (in this case ops) has the responsibility to schedule collapsing. (Possibly using some functionality provided by the framework.)

[2016-07-06 08:26] kinvaris opened #97 "Tlog_map.TLCNotProperlyClosed(_) during local collapse"
During the local collapse, I got this unexpected error:

[code]

[2016-07-06 08:27] kinvaris opened #98 "(Failure "file not found") during local collapse"
During a local collapse of a arakoon node I got this error:

[code]

[2016-07-07 10:12] #98 closed, assigned to nobody

[2016-07-07 10:12] #97 closed, assigned to nobody

[2016-07-07 11:11] #96 closed, assigned to nobody

[2016-07-07 11:14] toolslive commented on #95
same as https://github.com/openvstorage/arakoon/issues/96

[2016-07-07 11:14] #95 closed, assigned to nobody

[2016-07-19 11:32] jeroenmaelbrancke commented on #91
Same issue on perf-roub-01:

[code]

Jira ticket: [ovs-3934](http://jira.openvstorage.com/browse/OVS-3934)

[2016-07-19 11:37] jeroenmaelbrancke opened #101 "Arakoon not starting, store ahead of tlogs..."
env: OVH
node: perf-roub-03
path: /mnt/hdd1/ovh/arakoon/hdd_roub_nsm_1/voor_ons_jantjeuh

[code]

[2016-07-19 11:47] toolslive commented on #101
arakoon version ?

[2016-07-19 11:53] jeroenmaelbrancke commented on #101
[code]

[2016-07-19 12:32] jeroenmaelbrancke commented on #101
same issue with flash_roub_nsm_2 on the same node:

tlogs + head.db:

[code]

[code]

logfile (first fatal error):

[code]

log file (last error):

[code]

[2016-07-19 15:38] domsj commented on #84
was already fixed some time ago

[2016-07-19 15:38] #84 closed, assigned to domsj

[2016-07-20 15:54] domsj commented on #101
Saw this issue again on the OVH env.
My current guess is that it has been introduced by https://github.com/openvstorage/arakoon/pull/88, as we've only started seeing this since version 1.9.7.

[2016-07-20 16:03] domsj commented on #101
[code]

[2016-08-01 08:59] jeroenmaelbrancke opened #104 "catch up arakoon from specific node"
Can you add a feature to arakoon to cath up the arakoon for a specific node?
This would be a nice feature when 2 of the 3 arakoons are not able to collapse due to Failure("success") error. Uses the collapsed node to catch up from would help us. Now we need to try multiple catch up to get the correct node.

thx!

[2016-08-02 19:39] domsj commented on #91
Compiler bug http://caml.inria.fr/mantis/view.php?id=7307 might very well be the cause of this...
This means we'll have to upgrade to ocaml 4.03.0 if we want to see this fixed.
Thanks for pointing me to the relevant mantis ticket @liegebeest!

[2016-08-08 08:12] khenderick opened #107 "Allow configuration from arakoon"
Allow configuration from arakoon. Story: ovs-projects/org_development#44

[2016-08-10 07:24] domsj commented on #101
I've been investigating this issue.
It looks like

[code]

Is due to the fact that the last tlog/tlx is a tlx.

[code]

This means it should be easy to work around in case we see this again: just uncompress the last tlx to a tlog, and start the node again.

In theory we could also end up in such a situation when a node crashes unexpectedly due to a power outage (so not just due to a bug such as wh

[2016-08-10 09:44] domsj commented on #101
Based on the logs and some code inspection it seems to me as if the initial crash of arakoon was due to a race between reiniting the tlog_map and tlog compression.
A fix should be coming soon.

[2016-08-10 10:54] domsj commented on #66
resolved by #106

[2016-08-10 10:54] #66 closed, assigned to nobody

[2016-08-10 10:54] domsj commented on #71
resolved by #106

[2016-08-10 10:54] #71 closed, assigned to nobody

[2016-08-10 10:54] domsj commented on #91
should be resolved by #106

[2016-08-10 10:54] #91 closed, assigned to nobody

[2016-08-10 11:47] domsj opened #108 "Expose copy db to head call via cli"
Wanted to have this available while troubleshooting on an env with problems

[2016-08-10 13:20] matthiasdeblock opened #110 "Failure success head.db"
Arakoon version: version: 1.9.8
git_revision: "tags/1.9.8-0-g2372b70"

GIG env. had following error message in the nsm arakoon logging:

[code]

[2016-08-10 13:24] matthiasdeblock opened #111 "Error while collapsing - corrupt head.db"
arakoon version: 1.9.8
git_revision: "tags/1.9.8-0-g2372b70"

root@ovs-01:/mnt/ssd1/arakoon/mybackend-abm/tlogs# arakoon --collapse-remote mybackend-abm 10.103.2.21 26402 2

[code]

[code]

[2016-08-10 13:25] matthiasdeblock commented on #111
Also had the same error message like in https://github.com/openvstorage/arakoon/issues/101

[code]

[2016-08-11 08:38] wimpers commented on #93
@kinvaris can you please add logs? Env id? Based upon this ticket detail we can't do much.

[2016-08-11 08:45] #101 closed, assigned to domsj

[2016-08-11 08:53] domsj commented on #108
#113

[2016-08-11 08:53] #108 closed, assigned to nobody

[2016-08-16 07:44] kinvaris commented on #93
@wimpers: No logs are required for this because they are no usable logs are produced. You can easily reproduce it:

[code]

[2016-08-18 09:57] kinvaris opened #118 "arakoon segfault"
[code]

[code]

arakoon version 1.9.9

this issue is  reproducable, everytime when trying to start a node

so it looks like this is a different segfault from the one that was fixed earlier

Experiencing this issue on environment: `172.19.10.31`

[2016-08-18 09:59] kinvaris commented on #118
Experiencing this issue on environment: `172.19.10.31`

[2016-08-19 09:28] domsj commented on #118
I was able to solve the problem by installing new versions of the alba & arakoon packages, which were now built on the same slave, instead of on different slaves.
Those new packages have been attached on the github releases page and uploaded to the ovs unstable apt repo.

[2016-08-19 09:28] #118 closed, assigned to nobody

[2016-08-22 09:05] jeroenmaelbrancke opened #122 "extra method to check if the head.db is corrupted"
refer: #111.

We already tried to verify if the head.db is corrupt by using dump-store (check only the keys).

Can you create an extra method to deep-check if the head.db  is corrupted?

[2016-08-22 12:20] wimpers commented on #122
@domsj are you already working on this?

[2016-08-22 13:06] domsj commented on #122
no

[2016-08-22 13:07] wimpers commented on #93
Is step 3 stop node 1 or stop a node of the cluster?  If you have 3 nodes and  stop a node (step 3) and you wipe node 1 , you lost 2 out of the 3 nodes. In that case it is normal there is no master.

[2016-08-22 14:44] matthiasdeblock opened #123 "Error during collapsing cluster"
version: 1.9.8

[code]

[2016-08-22 14:48] matthiasdeblock commented on #123
Same issue: https://github.com/openvstorage/arakoon/issues/111

[2016-08-22 14:48] #123 closed, assigned to nobody

[2016-08-25 15:34] jeroenmaelbrancke opened #125 "Arakoon dies during collapse, refuses to start afterwards"
[code]

[code]

so it looks like https://github.com/openvstorage/arakoon/issues/101 is not yet properly solved...

version 1.9.9

[2016-08-29 10:24] domsj opened #126 "Client_helper.find_master doesn't handle problem nodes well"
If a node for whatever reason (e.g. a bug -- in my case it was a misconfigured cluster_id) does not respond correctly to a who_master call then find_master doesn't try querying the other nodes of the cluster. This means one bad node can result in a cluster not being reachable for (ocaml) clients.

Faulty code is at https://github.com/openvstorage/arakoon/blob/1.9/src/client/client_helper.ml#L266-L

[2016-08-29 12:35] wimpers commented on #110
Incorrect logging of a success as failure

[2016-08-29 12:40] domsj commented on #110
No, there is an error, but errno isn't set correctly which results in the wrong log message, misleading one to believe the operation was successful.

[2016-08-29 13:24] #67 closed, assigned to nobody

[2016-08-29 13:48] wimpers commented on #94
We need a workaround for OPS for this.

[2016-08-29 13:49] wimpers commented on #94
How many times did we see this issue in the field?

[2016-08-29 13:51] wimpers commented on #111
According to @toolslive   solved by https://github.com/openvstorage/arakoon/issues/125

[2016-08-29 13:51] #111 closed, assigned to nobody

[2016-08-29 13:54] wimpers commented on #94
@domsj , @toolslive , please document the workaround for OPS

[2016-08-29 13:57] domsj commented on #94
I think we've seen this 3 times in total.
Twice by @jtorreke, and once elsewhere.

Procedure for ops could be either:
- uncompress tlx to tlog, find the offending bytes and fix them (this step can be a bit tricky), restart node
- or in case of a still running cluster just throw state of this node away and let it catch up from the others

[2016-08-29 16:53] toolslive commented on #125
solved by #127

[2016-08-29 16:53] #125 closed, assigned to toolslive

[2016-08-29 18:03] domsj commented on #107
Fixed by #124

[2016-08-29 18:03] #107 closed, assigned to nobody

[2016-08-30 09:46] domsj opened #128 "Move/run away from tokyo cabinet"
See #110 and #122 for the motivation. Ops team sees this too much, and tokyo cabinet is unmaintained.
Currently it's an accident waiting to happen.
In the short term we still want to implement #122 so ops can monitor this more closely.

Possible replacement candidates:
- rocksdb
  - could remove the need for head.db + collapsing could become cheap
  - db consists of multiple files, which would req

[2016-08-30 15:30] domsj commented on #126
fixed by #131

[2016-08-30 15:30] #126 closed, assigned to nobody

[2016-08-30 16:01] domsj commented on #122
fixed by #130

[2016-08-30 16:01] #122 closed, assigned to nobody

[2016-08-31 07:38] kinvaris commented on #93
The node in question to be stopped, wiped and started is node X, but it has to be the same node. You can apply it to any node.

[2016-08-31 08:24] jeroenmaelbrancke opened #133 "Arakoon went down, Unix.Unix_error(Unix.ENOENT, "open", "/mnt/hdd1/ovh/arakoon/global_nsm_2/tlogs/243.tlx")"
We tried to remote collapse the arakoon node and found out that the collapse exited with an error.

[code]

arakoon version: 1.9.9

Error from the arakoon log file:

[code]

Node was unable to recover or boot up due to store ahead of tlogs:

[code]

Complete log file:
[ovs-arakoon-global_nsm_2.log.1.gz](https://github.com/openvstorage/arakoon/files/446716/ovs-arakoon-global_nsm_2.log.1.gz)

[2016-08-31 08:42] wimpers commented on #128
@domsj any time estimate?

[2016-08-31 08:45] domsj commented on #128
2 weeks

[2016-09-01 06:48] toolslive commented on #133
fix: #134

[2016-09-01 08:04] toolslive commented on #133
will be in 1.9.11

[2016-09-01 08:04] #133 closed, assigned to toolslive

[2016-09-01 14:17] domsj opened #137 "Node dies with "store counter too low" during catchup"
[code]

[code]

at the same time it was also doing a collapse:

[code]

After upstart restarted the process it was running fine again.

[2016-09-01 15:31] toolslive commented on #137
(arakoon 1.9.9)

[2016-09-02 12:46] wimpers commented on #93
@toolslive @domsj are you aware of this issue?

[2016-09-02 14:04] pploegaert opened #138 "Make learner node functionality available again"
Needed for certain project?

[2016-09-02 15:47] domsj commented on #93
yes, @toolslive tried to reproduce it today without success.

[2016-09-02 15:52] toolslive commented on #93
@kinvaris how much is "alot" ?

[2016-09-05 06:48] jeroenmaelbrancke commented on #137
arakoon version: 1.9.10

same issue on flash_roub_nsm_1. (perf-roub-03)

[code]

[2016-09-06 11:21] kinvaris commented on #93
This was observed on a environment with a small tlog/tlx size. In this situation the arakoon had 150K uncollapsed tlog/tlx files.

[2016-09-12 13:05] jeroenmaelbrancke opened #140 "local collapse not working, plugin not loaded?"
version 1.9.11

config file:

[code]

error message:

[code]

[2016-09-12 16:08] #140 closed, assigned to domsj

[2016-10-05 08:45] toolslive commented on #93
sorry, cannot reproduce. If it happens again, please reopen.

[2016-10-05 08:45] #93 closed, assigned to kinvaris

[2016-10-09 11:18] toolslive commented on #137
seen on CI environment where it was produced by `server.left.test_collapse:test_collapse_during_catchup`. Have logs.

[2016-10-10 13:51] matthiasdeblock opened #149 "Corrupt head.db & verify-db marked OK"
root@pocops-ovs01:~# arakoon --version
version: 1.9.12

It looks like the verify-db isn't working as it should.

[code]

[code]

Verify-db related ticket: https://github.com/openvstorage/arakoon/issues/122

[2016-10-11 12:22] matthiasdeblock commented on #149
[code]

[2016-10-11 12:25] toolslive commented on #137
#150

[2016-10-11 12:25] #137 closed, assigned to toolslive

[2016-10-11 18:42] toolslive commented on #149
Some facts:
- I verified the `head.db` and it's not corrupt.
- Doing a `collapse-local` on that node works just fine.
- Doing a `collapse-remote` on the node does not work.
- move all content of the node to my laptop; setup a single node arakoon; `collapse-remote` works.
  It doesn't seem to be tokyo cabinet related at all.

[2016-10-12 07:04] toolslive commented on #149
Another fact: The second node in the cluster also suffered from this problem, but after a restart of the process, `collapse-remote` succeeds.
Conclusions:
- head.db ain't corrupt
- workarounds exist
- still clueless about root cause.

[2016-10-17 11:54] wimpers commented on #149
Lowered to normal as workaround (local collapse) was added to the Framework.

[2017-01-04 16:53] ohault opened #157 "Adding a Peer-to-Peer (P2P) support"
Connectivity between nodes could also support a mode of communication based on P2P to provide automatic NAT traversal. This will be an alternative to current layer 3 connectivity requirement of Arakoon and it will open a completely new window of opportunities for Arakoon cluster.

[2017-04-10 09:17] jeroenmaelbrancke opened #160 "clean up old tlogs files even when collapse is not necessarily"
Setup:
Stop service
Copy the main.db to the head.db.
Start service
Run a collapse-local

Problem:
Local collapse will not clean up old tlogs.
The clean up process is only triggered when Arakoon needs to collapse the tlogs.

[code]

[2017-04-11 07:08] jeroenmaelbrancke opened #161 "What if the head.db is not the correct one?"
What happens if we copy the main.db to a tlog directory from another cluster?
If this cluster needs to copy the head.db to the main.db will this trigger an exception in the Arakoon or not?
I know there is a function in Arakoon (--copy-db-to-head) to prevent this.

Please make sure we cannot start the Arakoon with another head.db from another cluster.

[2017-04-13 08:25] jeroenmaelbrancke opened #167 "arakoon crashed with exit status 40/n/a"
On OVH i tried to restore an Arakoon from another node.
I (re)moved all the tlogs, head.db and main.db and started the Arakoon again.
What i saw was the head.db was copied from another Arakoon but not the tlx files which leads to following error:

[code]

My solution was manually copy the head.db + tlx to this server.

[2017-04-14 11:37] jtorreke opened #168 "copy-db-to-head not working as expected"
I'm creating this ticket for tracking purpose as Romain should already be aware of this. We noticed that the --copy-db-to-head functionality of arakoon isn't working. We can work around this manually, but a working feature would be nice to have as regular collapsing is taking too long on OVH and we're trying to keep up manually to not have the disk run full.

As far as I remember, the running arak

[2017-04-14 12:33] domsj commented on #168
Can you try running this with debug logging enabled?

[2017-04-14 13:08] #160 closed, assigned to domsj

[2017-04-19 08:22] domsj commented on #161
fixed by #170

[2017-04-19 08:22] #161 closed, assigned to nobody

[2017-04-19 16:21] jtorreke commented on #168
Attached is the debug log file. My connection is incoming at:

Apr 19 18:15:14 ovs01 arakoon[63013]: 2017-04-19 18:15:14 292155 +0200 - ovs01 - 63013/0000 - arakoon - 301 - info - 172.20.20.1:client_service:session=0 connection=172.20.20.1:client_service_1 socket_address=ADDR_INET 172.20.20.1,51532

And disconnected at:

Apr 19 18:17:01 ovs01 arakoon[63013]: 2017-04-19 18:17:01 751546 +0200 - ovs0

[2017-04-20 06:45] toolslive commented on #168
#171

[2017-04-20 14:08] #168 closed, assigned to toolslive

[2017-06-01 13:28] wimpers opened #177 "Arakoon cluster status"
Arakoon should expose call to request the status of the Arakoon cluster (f.e 2/3 nodes are working fine so the healthcheck can query this status. (see https://github.com/openvstorage/openvstorage-health-check/issues/324)

[2017-06-01 13:43] toolslive commented on #177
something like:
[code]
shows the master's view on the cluster, which is basically a counter for each node. That counter is the last acknowledged update for that node.
If there's a node for which the counter is significantly lower than the master's counter, that node is lagging which means: isolated, offline or just too slow.

This call is also available for the python/ocaml clients

[2017-06-06 12:24] #177 closed, assigned to nobody

[2017-06-14 15:04] jtorreke opened #179 "Change copy-head-to-db CLI signature to use -config"
Currently most arakoon CLI commands accept a -config parameter to point to the config of the cluster, except for copy-head-to-db. This one accepts a clustername, IP, port and the number of tlog files to leave untouched. Can we make CLI arguments uniform so a --collapse-local and --copy-db-to-head accept the same arguments as the result of both actions is the same?

  --copy-db-to-head <cluster_id>

[2017-06-15 09:55] jtorreke opened #180 "Output when using collapse-local or copy-db-to-head is stderr instead of stdout"
As the ticket says, output of these commands (probably others as well) is logged in stderr instead of stdout.  Can this be changed to stdout for regular logging?

Thanks!

[2017-06-15 13:03] wimpers commented on #180
@domsj  @toolslive we assumed this is a small one?

[2017-06-15 14:46] toolslive commented on #180
Currently for these commands, logging goes to `stderr` while regular output (if any) goes to `stdout`.
So you want logging to go to `stdout`. Fine, but then where do you want regular output to end up ?

[2017-06-16 06:41] jeroenmaelbrancke opened #181 "Change severity level of ECONNRESET error"
As discussed please change the severity for ECONNRESET to info or debug.

[code]

[code]

[2017-06-20 14:24] jeroenmaelbrancke opened #182 "High memory usage on ABM"
The memory usage of an ABM on the Nuvolat setup was 57GB high.

arakoon version: 1.9.18
alba version: ee-1.5.2

[code]

We see a lot of assert failed attempts on this particular node/abm. (not sure if this is caused by the already fixed bug on https://github.com/openvstorage/alba_ee/issues/52) (same abm)

[code]

[2017-06-20 14:36] domsj commented on #182
This could indeed be related to the linked ticket.
The maintenance processes will keep on trying to mark an osd as claimed by this backend, but that will unfortunately keep on failing.
So this results in wasted cpu cycles and some wasted memory usage, unfortunately I don't immediately see how it would explain 50+ GB of ram usage.

For now I recommend periodically restarting the affected processes.

[2017-06-21 12:14] wimpers commented on #182
@jeroenmaelbrancke can we consistently reproduce this behavior (same node? other nodes)?

If so, @domsj  would it make sense to update on that node the component(s) (which?) to see if this solves the issue?

[2017-06-21 15:44] wimpers opened #183 "Reduce Arakoon logging by removing coming and going of clients"
As stated in https://github.com/openvstorage/home/issues/46#issuecomment-310108452

`currently, the arakoons log coming and going of clients at info level. This could be tuned down. Also the messages themselves could be trimmed as the stacktrace on exist is useless. The real question is: why do we burn through that many clients ?`

[2017-06-23 06:48] toolslive commented on #179
what with backwards compatibility and existing scripts?

[2017-06-23 07:15] jtorreke commented on #179
Afaik only 2 'scripts' use this functionality:
* the framework for internally managed arakoons
* the ops scripts for externally managed arakoons

The latter I can manage. The first one is probably a small fix as they have all needed info anyway.
Maybe it would be a good plan to review other commands as well and straighten things out while we're at it.

[2017-06-23 08:16] toolslive opened #185 "copy-db-to-head results in removal of 1 tlog too many and catchup problems"

[2017-06-23 08:17] toolslive commented on #185
fixed by #184

[2017-06-23 08:17] #185 closed, assigned to nobody

[2017-06-23 12:12] toolslive commented on #181
#188

[2017-06-23 12:25] toolslive commented on #179
To make discussion easier: These following have similar signatures.
`--collapse-remote <cluster_id> <ip> <port> <n>`
`--copy-db-to-head <cluster_id> <ip> <port> <n>`

`--collapse-local <node_id> <n>` needs `-config` as that's the easiest way to provide all the paths you need.

[2017-06-23 12:27] toolslive commented on #167
pretty sure it's #185 which was fixed by #184

[2017-06-23 12:31] #183 closed, assigned to toolslive

[2017-06-23 12:31] #181 closed, assigned to nobody

[2017-06-23 12:33] wimpers commented on #167
Can I close this one as duplicate?

[2017-06-23 13:18] toolslive commented on #167
go ahead.

[2017-06-23 13:22] #167 closed, assigned to nobody

[2017-06-29 07:47] wimpers commented on #149
Since we added changes for local collapse and in the future cop-db-to-head fixing this isn't required.

[2017-06-29 07:47] #149 closed, assigned to toolslive

[2017-06-29 07:50] wimpers commented on #94
BAM decided not to fix. If someone disagrees, please talk to @saelbrec  or me.

[2017-06-29 07:50] #94 closed, assigned to nobody

[2017-07-20 12:41] toolslive opened #189 "master can generate tlog entries that slaves refuse to read from the network."
If there are a lot of concurrent clients doing a lot of large updates, the entry that the master produces
is larger than the `max_buffer_size` in the slave's `tcp_messaging`

[2017-07-25 09:51] jtorreke opened #191 "Extending a cluster to an extra node never seems to catch up"
The scenario:

We had a 5 node arakoon cluster and used the framework tools to move one of the members to a different node. The plan was to extend to cluster with a 6th node to afterwards shrink to a 5 node cluster again. We noticed that the new member was never able to catch up with the cluster, resulting in a more or less endless loop. We let the new member try to catch up for +12 hours, but to

[2017-08-09 10:47] #189 closed, assigned to nobody

[2017-08-09 11:03] toolslive commented on #191
Can you compare your scenario to [this](https://github.com/openvstorage/arakoon/blob/1.9/pylabs/test/server/shaky/test_sso_deployment.py#L32) test and highlight the differences ? (I think you're going to have flash backs while reading the comments)

[2017-08-09 11:28] jtorreke commented on #191
I found the culprit in the mean time (but forgot I created a ticket on this). The cluster is extended with an extra node, but for some reason, not all nodes were restarted. So some members of the cluster had no knowledge of the new member. If the current master is such a not-restarted node, it seems to refuse the participation of the new node in the cluster and keeps it lagging behind. A restart o

[2017-08-09 11:33] toolslive commented on #191
;)

[2017-08-09 11:33] #191 closed, assigned to nobody

[2017-08-09 13:32] jake9050 opened #194 "Arakoon services in start/fail/start loop and dumping many debug logs to /opt/OpenvStorage"
After updating pocops to the latest Fargo release the arakoon services get stuck in a loop where they constantly restart. The ovs homefolder gets populated with files caled `console:.debug.TIMESTAMP.xxxxxx` that contain these kinds of messages:

`1502284724: main debug: 7679026 => store
1502284724: main debug: Store.incr_i old_i:Some ("7679025") -> new_i:7679026
1502284724: main debug: 7679027 =>

[2017-08-14 07:35] hoannv46 opened #196 "arakoon checksum error"
Hi all.
I installed openvstorage in 2 dc, all server shutdown.
I start server, i cannot start ovs-arakoon-voldrv server.
This is log i run ovs-arakoon-voldrv manually, i run on 3 master node.

2017-08-14 14:33:47 351049 +0700 - ovs-r1-controller - 22729/0000 - arakoon - 30 - info - _init ~check_marker:true ~check_sabotage:true
2017-08-14 14:33:47 351373 +0700 - ovs-r1-controller - 22729/0000 - ara

[2017-08-14 11:30] toolslive commented on #196
It seems you have a corrupt tlog on both of your arakoon nodes. Can it be the underlying storage medium for the tlogs is unstable?

fwiw, you can truncate a tlog using `arakoon  --truncate-tlog <filename>` but I cannot guarantee it will help in this case: we need to know the counters of the stores, and a list of existing tlogs, as well as the arakoon config. Also, there might be other corruptions

[2017-08-15 02:10] hoannv46 commented on #196
I have 3 master node.
I tried copy-db-to-head but it not working. Truncate log not working.

 @toolslive

Because power loss, 3 head.db file in master not same

-rw-r--r-- 1 ovs ovs 587776 Aug 12 23:10 /mnt/hdd2/arakoon/voldrv/tlogs/head.db

[2017-08-16 08:55] toolslive commented on #196
the heads can be different; even the stores could be different. They have a counter to state how recent they are:
[code]
I'm still not clear on the condition of your cluster: is there a node that starts or not?
what are the `i` values of your stores & heads ?

If you have a node that starts, you can try to move the tlogs head and store aside on the other nodes
and start these as well, they should

[2017-08-16 09:06] hoannv46 commented on #196
@toolslive

all node start after shutdown (because power loss)
I tried move tlogs head and store from other nodes but it cannot start.

[2017-08-16 09:18] toolslive commented on #196
node = arakoon process . Is there a machine where the arakoon process of the cluster keeps running after starting it ?

[2017-08-16 09:22] hoannv46 commented on #196
@toolslive
Machine where the arakoon process of the cluster keep running but arakkoon procecss activating (no active)

[2017-08-17 09:25] wimpers commented on #194
@jake9050 any idea why the Arakoon was stuck in a start/fail/start loop ?

[2017-08-18 14:13] wimpers commented on #196
Hi @hoanhdo

I discussed this issue with engineering and we don't believe this is caused by a bug hence I'm closing this issue down.  That doesn't of course doesn't solve your problem hence can you please open an issue in the Google Forum https://groups.google.com/forum/#!forum/open-vstorage so the operations team can help you. Please add whether there is a node that starts or not and
what the i v

[2017-08-18 14:13] #196 closed, assigned to nobody

[2017-08-23 14:38] wimpers commented on #194
@jtorreke any idea why Arakoon acted up?

[2017-08-23 14:58] jtorreke commented on #194
It was lagging behind too much and could no longer catch up from cluster members. Throwing out the local data and start a new copy was the solution.

[2017-09-04 15:29] wimpers commented on #194
@jtorreke  was the root cause of not being able to catchup that the messages were too big?

[2017-09-07 09:45] jtorreke opened #203 "Arakoon dies when --copy-db-to-head while --optimize-db was already running"
The scenario: run --optimize-db on a running member. While this is executing, launch --copy-db-to-head on the same instance. Both commands will bail out, the arakoon member will crash.

Output of the --optimize-db command:

[code]

Arakoon's log file:

[code]

[2017-09-21 11:53] domsj opened #204 "cluster took a long time to re elect a master"
Electing a master took 3+ minutes.

The logs were constantly repeating the same things over & over again:

node1
[code]

node2
[code]

node3
[code]

eventually the cluster recovered

node1
[code]

node2
[code]

node3
[code]

[2017-09-21 12:01] domsj commented on #204
seems like the cluster was not too long without a master afterall.
it's just that for some reason node1 can't quite fully catchup, which reminds me of https://github.com/openvstorage/arakoon/issues/191

node1
[code]

node2
[code]

node3
[code]

[2017-10-19 08:03] wimpers commented on #157
There are no plans for P2P support for Arakoon or Open vStorage.

[2017-10-19 08:03] #157 closed, assigned to nobody

[2017-11-20 17:20] JeffreyDevloo opened #205 "Allow keys to be excluded in prefix_entries and range_entries"
### Feature description
Having some filtering when dealing with a list of keys could be handy for some optimization

[2017-11-20 17:29] wimpers commented on #205
You probably have a certain use case in mind (filter)? Could you give an example?

[2017-11-27 14:20] wimpers commented on #203
Set to Roadmap as should only occur when run manually. We internally already protect against this. Won't fix in this case might be a bit too drastic.

[2017-12-04 09:44] JeffreyDevloo commented on #205
I had a valid usecase but I was able to solve it with a multi-key fetch instead.
The use-case was: suppose you know a few items not to be included in a certain range (vdisklist for example, you know the key of vdisk1 which you don't want to fetch). You can do a prefix_entries and then delete the key of vdisk1 or the server could do it for you (less data transmitted, less cpu cycles for the client)

[2017-12-04 11:07] wimpers commented on #204
@domsj @openvstorage/operations  what should be done with this issue. I don't think we have seen this behaviour . Can we close it with can't reproduce?

[2017-12-11 14:10] domsj commented on #204
@wimpers we can indeed close (doing that now)

[2017-12-11 14:10] #204 closed, assigned to nobody

[2018-01-24 16:57] domsj opened #212 "diverging history in 5 node cluster"
used the following commands to investigate
[code]

some results
[code]

cause is currently unknown. ops claims to not have done manual interference.

[2018-01-25 10:33] domsj commented on #212
similar (although less grave) issue seen on ny1-hddbackend01-abm. will check other clusters too.

[2018-02-12 13:24] domsj commented on #212
Should be fixed by #220, in particular https://github.com/openvstorage/arakoon/commit/ff786ba07f300863b5281ee1b86f0cf662105a95#diff-593b337efe8fc715da4e2cd2dbe38814R128
In short: when catchup fails for some reason a node might apply a tlog entry the cluster will never reach consensus on.
Due to the optimistic concurrency control used by the albamgr (e.g. https://github.com/openvstorage/alba/blob/1

[2018-02-12 14:52] #212 closed, assigned to nobody

[2018-03-10 09:38] ohault commented on #157
I can understand this is somehow a paradigm shift, but for a storage solution it's also strategic to stay aligned, from an architectural point of view, with network evolution (Zero Trust Network, multi-pathing, P2P, ...). Leveraging end-to-end connectivity would be a deep innovation for Arakoon and Open vStorage. If too early for a short term roadmap, can you please consider to keep this point a l

[2018-04-13 12:33] wimpers commented on #180
Closing this down as we are moving to RocksDB instead of Tokyocabinet? This means collapse and copy-db-to-head will be removed. Re-open if really needed.

[2018-04-13 12:33] #180 closed, assigned to toolslive

[2018-07-04 10:01] yongshengma opened #229 "Arakoon_exc.Exception(4, "Not_found")"
If a key doesn't exist, `arakoon --get ` will throw an exception.  For example,

[root@node-03 ~]# arakoon -config /opt/OpenvStorage/config/arakoon_config.ini --get ovs/framework/scheduling/celery
Uncaught exception:

  Arakoon_exc.Exception(4, "Not_found")

Raised at file "src/core/lwt.ml", line 805, characters 16-23
Called from file "src/unix/lwt_main.ml", line 34, characters 8-18
Called from fi

[2018-07-16 12:22] toolslive commented on #229
You know the key so there's no value in repeating it. The value, if it exists is printed on `stdout`, while any error messages are printed on `stderr`.
You can use the return code of the process, and you can reroute `stderror` if you don't like the message.

[code]

Since you seem to be an OVS user, there's a full blown arakoon client available in the ovs shell
for python scripting

[2018-07-18 10:21] JeffreyDevloo opened #230 "Add delete_prefix to sequence"
### Feature description
A delete_prefix call should be possible within a sequence

[2018-07-18 13:26] toolslive commented on #230
(#231 )

[2018-07-18 13:26] #230 closed, assigned to nobody

[2018-07-18 13:44] toolslive commented on #128
This was done in the Enterprise Edition.

[2018-07-18 13:44] #128 closed, assigned to nobody

[2018-07-18 13:45] toolslive commented on #182
not an arakoon issue (but a plugin issue)

[2018-07-18 13:45] #182 closed, assigned to jeroenmaelbrancke

[2018-08-16 08:49] jeroenmaelbrancke commented on #182
So far we do not have this issue with alba plugin: 1.5.28

[2018-08-16 09:26] #229 closed, assigned to nobody

[2018-09-12 14:27] JeffreyDevloo opened #232 "Support terse version"
The Framework uses the binary version of a process to check if a process would need restarting after updating the arakoon package.
The output was changed to different format in an update, causing the command to fail.
Arakoon should support something similar to alba (alba version --terse)

[2018-09-13 11:28] toolslive commented on #232
[code]
compared to

[code]

The second flavour ` (--node-version`) also has a slight difference (`-config` versus `--config`)

We'll adapt the `-ee` version to at least keep the version line `format` of `arakoon --version` identical.

[2018-09-13 16:10] toolslive commented on #232
(pr 41 in arakoon-ee)

[2018-09-13 16:10] #232 closed, assigned to nobody

[2018-11-07 09:11] toolslive commented on #138
#210

[2018-11-07 09:11] #138 closed, assigned to nobody

[2018-11-12 07:31] toolslive commented on #104
(#233)

[2018-11-12 07:31] #104 closed, assigned to nobody

[2018-11-12 07:32] #179 closed, assigned to toolslive

[2018-11-12 07:53] toolslive commented on #205
So to exclude the key being sent from the server to the client, you need to send it to the server first.
No win there.

[2018-11-12 07:53] #205 closed, assigned to nobody